.btn {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 10px;
  font-weight: 500;
}

.btn svg {
  display: block;
}

.btn:hover {
  background-color: #74bfa0;
  box-shadow: 0 5px 15px rgb(116, 191, 160);
}

.btn:active {
  opacity: .7;
}

.right-btn {
  margin-left: auto;
}